body{
	background-image: url(wood.jpg);
	background-size:200px;
}
#paper{
	margin: 100px auto;
	width: 800px;
	height: 500px;
	background-color: hsl(220,100%,70%);
	position: relative;
	border: 5px solid #fff;
	border-radius: 10px;
	box-shadow:0px 2px 10px #0005;
	overflow: hidden;
	animation: daynight 8s infinite;
}
@keyframes daynight{
	0%{background-color: hsl(220,100%,70%)}
	30%{background-color: hsl(230,100%,70%)}
	50%{background-color: hsl(39, 75%, 52%)}
	60%{background-color: hsl(244, 98%, 64%)}
	70%{background-color: hsl(270,100%,10%)}
	90%{background-color: hsl(270,100%,10%)}
	100%{background-color: hsl(220,100%,70%)}
}

/*สั่งให้ทุก div และ img ใน paper เป็น absolute*/
#paper div,#paper img{
	position: absolute;
}
body {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.moon {
	width: 100px;
	height: 100px;
	background-color: #f1f1f1;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	animation: moonShrink 5s infinite alternate, moonMove 8s infinite;
	top:59%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes moonShrink {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes moonMove {
	0%, 50.42% {
    	opacity: 0;
}
	90% {
		opacity: 1;
		transform: translate(-59%, -200%);
	}
}


.mou{
	width: auto;
	height: auto;
	left:  1;
	z-index: 10;
}

.men{
	width: auto;
	height: auto;
	left:  8%;
	bottom: 1%;
	z-index: 11;
}

.wolf{
	width: auto;
	height: 150px;
	bottom: 94%;
	z-index: 11;
	animation: rotate 5s linear infinite alternate;
}


.women{
	width: auto;
	height: 200px;
	left:  40%;
	bottom: 1%;
	z-index: 11;

}

.bird{
	position: relative;
    right: 110%;
    width: auto;
    height: 45%;
    animation: jump 7s infinite linear;
}
@keyframes jump {
    0% {
        transform: translateX(1000px) rotate(46deg) scale(1);
    }
	30% {
        transform: translateX(300px) scale(0.8);
    }
    50% {
        transform: translateX(500px)  rotate(90deg) scale(0.6);

    }

	60% {
        transform: translateX(700px) rotate(-30deg) scale(0.4);
    }

	70% {
        transform: translateX(800px) rotate(45deg) scale(0.2);
    }

    100% {
        transform: translateX(-100px) rotate(360deg) scale(0.1);
    }
}


.sun{
	top:40px;
	left:200px;
	position: absolute;
	bottom: 0%;
}

@keyframes rotate {
    0% {
        transform: translateY(-650px) rotate(0deg);
    }
    50% {
        transform: translateY(0) rotate(180deg);
    }
    100% {
        transform: translateY(550px) rotate(360deg);
    }
}


@keyframes sunMove {
	0% , 20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.sun_radius-1{
	width: 100px;
	height: 100px;
	background-color: hsl(30,100%,50%,0.7);
	transform: rotate(0deg);
	animation: sun_radius_1 2s infinite linear, sunMove 8s infinite ;
}

@keyframes sun_radius_1{
	from{transform: rotate(0deg)}
	to{transform: rotate(360deg)}
}

.sun_radius-2{
	width: 100px;
	height: 100px;
	background-color: hsl(25,100%,50%,0.7);
	transform: rotate(45deg);
	animation: sun_radius_2 2s infinite linear , sunMove 8s infinite;
}

@keyframes sun_radius_2{
	from{transform: rotate(45deg)}
	to{transform: rotate(405deg)}
}

.sun_circle{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: hsl(50,100%,50%,0.9);
	animation: sun_circle .3s infinite alternate , sunMove 8s infinite;
}

@keyframes sun_circle{
	from{transform: scale(0.9)}
	to{transform: scale(1.1)}
}


.cloud-c1{
	border-radius: 100%;
	width: 40px;
	height: 25px;
	top:0px;
	left: 0px;
	background: linear-gradient(to left top,hsl(200,100%,90%,0.7),hsl(200,100%,98%,1));
}

.cloud-c2{
	border-radius: 100%;
	width: 50px;
	height: 35px;
	top:-5px;
	left: 30px;
	background: linear-gradient(to left top,hsl(200,100%,90%,0.7),hsl(200,100%,98%,1));
}

.cloud-c3{
	border-radius: 100%;
	width: 40px;
	height: 25px;
	top:0px;
	left: 70px;
	background: linear-gradient(to left top,hsl(200,100%,90%,0.7),hsl(200,100%,98%,1));
}

.cloud-1{
	transform: scale(2);
	left: 20px;
	top: 90px;
	animation: cloud_1 4s infinite alternate linear;
}

.cloud-2{
	transform: scale(2.5);
	left: 500px;
	top: 80px;
	z-index: 100;
	animation: cloud_2 12s infinite alternate linear;
}

.cloud-3{
	transform: scale(2);
	left: 300px;
	top: 200px;
	animation: cloud_3 8s infinite alternate linear;
}

@keyframes cloud_1{
	from{
		left:-220px;
		top: 90px;
	}
	to{
		left: 900px;
		top: 300px;
	}
}

@keyframes cloud_2{
	from{
		left: 900px;
		top: 60px;
	}
	to{
		left:-220px;
		top: 120px;
	}
}

@keyframes cloud_3{
	from{
		transform: scale(2);
		left: 300px;
		top: 200px;
	}
	to{
		transform: scale(3);
		left: 900px;
		top: 200px;
	}
}
