body {
    display: grid;
    place-items: center;
    /* จัดให้อยู่ตรงกลางทั้งแนวนอนและแนวดิ่ง */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}

.logo-link {
    position: absolute;
    top: 20px;
    left: 80px;
}
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    /* height: 100vh; กำหนดความสูงของกราฟให้เต็มหน้าจอ */
}
.Chart-name{
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.name{
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
}

#currentMonth {
    width: 90%;
}

.calendar {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.day-header {
    width: 14.28%; /* 100% หารด้วย 7 คอลัมน์ = 14.28% */
    text-align: center; /* กำหนดให้ข้อความอยู่ตรงกลางในแต่ละคอลัมน์ */
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    height: 50px;
    padding: 10px;
    text-align: center;
    /* border: 1px solid #333; */
}

table th {
    font-size: 18px;
    background-color: #023032;
    color: #fff;
}

table td {
    background-color: #e4f7f2;
    /* background-color: #f5faf6; */
}

table td.selected-date {
    background-color: #023032;
    color: #fff;
}

table td.disabled-time-slot {
    background-color: #ccc;
    pointer-events: none;
}

.bordered-table {
    display: none;
}

.bordered-table th,
.bordered-table td {
    border: 1px solid #ccc;
    /* ตั้งค่าเส้นขอบตามที่คุณต้องการ */
}

.selected {
    background-color: #131f47;
    color: #fff;
}

.input_data {
    background-color: #043d40;
    width: 1200px;
    height: 1750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_data select {
    border: 0;
    padding: 20px;
    margin: 10px 0;
    outline: none;
    font-size: 16px;
    border-radius: 30px;
    /* padding: 2vw 4vw; */
    /* border: none; */
    flex-direction: column;
    background-color: #F2F2F2; /* Background color for the select */
    color: #161557; /* Text color for the select */
    /* border-radius: 5px; */
    /* width: 90%; */
    /* max-width: 600px;  */
  }
form {
    background: #fff;
    ;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input,
form textarea {
    background: #F2F2F2;
    border: 0;
    padding: 20px;
    margin: 10px 0;
    outline: none;
    font-size: 16px;
    border-radius: 30px;
}


#check-button {
    padding: 15px;
    background: #031238;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    text-align: center;
    display: block; /* เพิ่มส่วนนี้ */
    margin-top: -20px;
}

form button {
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.empty-time-slot.selected {
    background-color: #131f47;
    color: #fff;
}

textarea {
    resize: none;
}


