/* @font-face {
    font-family: 'Noto_Serif_Thai';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url('../fonts/NotoSerifThai-VariableFont_wdth,wght.ttf') format('truetype');
}
body {
    font-family: 'Noto_Serif_Thai', sans-serif;
}
 */
