        * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
            }

            header {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                padding: 4px 100px;
                background-color: #0d50cc9b;
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 100;
            }

            .logo {
                font-size: 30px;
                color: #fff;
                text-decoration: none;
                font-weight: 600;
            }

            nav a {
                font-size: 18px;
                color: #fff;
                text-decoration: none;
                font-weight: 600;
                margin-left: 20px;
                transition: 1s;
            }

            nav a:hover,
            nav a.active {
                color: #0ef;
            }

            nav {
                display: flex;
                align-items: left;
            }

            .menu-items {
                font-size: 25px;
                color: #fff;
                text-decoration: none;
                font-weight: 600;
                margin-left: 40px;
                transition: 1s;
            }

            .menu-items:hover,
            .menu-items.active {
                color: #0ef;
            }

            section {
                    padding: 40px;

                    min-height: 100vh;
                    /*display: flex;*/
                    justify-content: center;
                    align-items: center;
                    background: #ffffff;
                    font-size: 20px;
                    color: #050505;

            }

            #service {
                padding: 150px;
                min-height: 56vh;
                justify-content: center;
                align-items: center;
                background: rgb(22, 64, 107);
                font-size: 20px;
                color: #050505;

        }

            #contact {
                padding: 40px;
                overflow: hidden;
                min-height: 56vh;
                /*display: flex;*/
                justify-content: center;
                align-items: center;
                background: #22438C;
                font-size: 20px;
                color: #050505;

        }

            section:nth-child(odd) {
                background: rgb(22, 64, 107);
            }

            .pic_home {
                width: 100%;
            }

            ul.submenu {
                list-style: none;
                size: 22;
                width: 210px;
                height: 120px;
                position: absolute;
                background-color: #22438C;
                z-index: 999;
                display: none;
            }


            #service {
                display: inline-block;
            }

            #howToSection {
                display: inline-block;
            }

            .service-wrapper{

                width: 25%;
                height: 400px;
                position: relative;
                overflow: hidden;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0px 0px 20px #000000b8;
            }


            .img-wrapper {
                width: 100%;
                height:80%;
                overflow: hidden;
            }

            .image {
                transition: 0.3s;
            }

            #videocall .img-wrapper .image{
                position: relative;
                right: 90%;
            }

            .img-wrapper .detail {
                position: absolute;
                bottom: 100px;
            }

            .detail-wrapper {
                width: 100%;
                text-align: center;
                height: 20%;
                position: absolute;
                bottom: 0px;
                box-shadow: 0px 0px 20px #000000b8;
                background: linear-gradient(13deg, rgba(12,56,158,0.7987570028011204) 31%, rgba(0,104,255,0.47102591036414565) 100%);
            }

            .detail-wrapper h1 {
                color: #ffffff;
                position: relative;
                top: 25%;
            }

            .sub {
                padding-bottom: 15px;
            }

            ul.dropdown:hover ul.submenu {
                display: block;
            }


            #home {
                /*background-image: url('/storage/background.jpg');*/
                background-position: center center;
            }

            .slider-wrapper{
                position: relative;
                max-width: 80rem;
                margin: 0 auto;
            }
            .slider{
                display: flex;
                aspect-ratio: 16/9;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                box-shadow:0 1.5rem 3 rem-0.75rem hsla(0, 0%, 0%, 0.25);
                border-radius: 0.5rem;
            }
            .slider img{
                flex: 1 0 100%;
                scroll-snap-align: start;
                object-fit: cover;
            }

            .slider-nav{
                display:flex;
                column-gap: 1rem;
                position: absolute;
                bottom: 1.25rem;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }

            .slider-nav a{
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: #fff;
                opacity:0.75;
                transition: opacity ease 250ms;
            }

            .slider-nav a:hover {
                opacity: 1;
            }
            .dark {
                background-color: #333; /* ตัวอย่างสีพื้นหลังสำหรับ Dark Mode */
                color: #fff; /* ตัวอย่างสีข้อความสำหรับ Dark Mode */
            }

            .styled-text {
                border: 2px solid #3498db;
                padding: 20px;
                background-color: #f2f2f2;
                border-radius: 10px;
                width: 300px;
                text-align: center;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                font-family: Arial, sans-serif;
                color: #333;
                /* background-color: aliceblue;
                border: dotted 4px cadetblue;
                width: 200px;
                height: 40px;
                text-align: center; */
                padding: 0.25em 0.5em;
                color: #494949;
                border-left: solid 5px #7db4e6;
              }

            .container {
                position: relative;
                width: 300px; /* ปรับขนาดตามที่คุณต้องการ */
            }

            .text-overlay {
                position: absolute;
                top: 20%;
                font-family: 'Kanit', sans-serif;
                left: 50%;
                width: 100%;
                vertical-align: top;
                font-size: medium;
                padding: 10%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition:  opacity 0.3s ease;
            }
